#login-container-box {
  background-image: url("../../assets/login-bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#smooth-bg {
  background-color: #0A0A3580;
  border-radius: 30px;
  padding: 50px;
}

#login-card-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 29.9px;
  text-align: center;
}

#login-card-subtitle {
  font-weight: 900;
  font-size: 12px;
  line-height: 13.31px;
  color: #5C5C76;
}

#title-box {
  text-align: center;
}